
<nav>
  <a href="/result"> Result </a>
</nav>

<h1> Roll up, Roll up to our exhilarating new game. </h1>
<h1> Rock - Paper - Scissors </h1>

<div>
  <p>This is a two player game. <br>
     <span id="p1">Player 1</span> enter either rock,<br> paper or scissors followed by a <br> /
     into the address bar following <br> localhost:4567/result/ e.g. rock/ <br>
     <span id="p2">Player 2</span> make their selection, <br> e.g. paper and press enter.
  <p>
</div>
